.footer {
    padding-top: 34px;
    padding-bottom: 10px;
    border-top: 2px solid #f0f0f0;
    max-width: 1170px;
    margin: 0 auto;
    &__wrap {
        // @include clearfix ;
        &::after {
            content: "";
            display: block;
            clear: both;
        }

    }
    &__col {
        // width: 224px;
        float: left;
        &:not(:last-child) {
            margin-right: 114px;
        }
    }
    &__list-item {
        padding-bottom: 14px;
        font-weight: 300;
    }
    &__top-list-item {
        font-weight: 700;
    }
    &__list-link {
        text-decoration: none;
        color: #3a72be;
        font-weight: 400;
        &:hover {
            color: black;
        }
            &--dotted {
                font-weight: 300;
                padding-bottom: 1px;
                border-bottom: 1px dashed;
            }
    }
    &__list-item-image {
        // color: red;
    }
    &-social-links {
        // color: red;
    }
    &__info {
        margin-top: 24px;
        color: #565656;
        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
    &__site-name{
        float: left;
    }
    &__made-by {
        float: right;
        font-size: 13px;
    }   

    &__info-right-text {
        float: left;
        width: 190px;
        margin-right: 10px;
    }
    &__info-image {
        float: left;
    }
}