.footer {
    padding-top: 34px;
    padding-bottom: 10px;
    border-top: 2px solid #f0f0f0;
    max-width: 1170px;
    margin: 0 auto;
    &__wrap {
        // @include clearfix ;
        &::after {
            content: "";
            display: block;
            clear: both;
        }

    }
    &__col {
        // width: 224px;
        float: left;
        &:not(:last-child) {
            margin-right: 108px;
        }
    }
    &__list-item {
        padding-bottom: 14px;
        font-weight: 300;
    }
    &__top-list-item {
        font-weight: 700;
    }
    &__list-link {
        text-decoration: none;
        color: #3a72be;
        font-weight: 400;
        &:hover {
            color: black;
        }
            &--dotted {
                font-weight: 300;
                padding-bottom: 1px;
                border-bottom: 1px dashed;
            }
    }
    &__list-item-image {
        // color: red;
    }
    &__social-links {
        a img {
            opacity: .4;
        }
    }
    &__info {
        margin-top: 24px;
        color: #565656;
        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
    &__site-name{
        float: left;
        font-size: 14px;
        padding-top: 16px;
    }
    &__made-by {
        float: right;
        font-size: 13px;
    }   

    &__info-right-text {
        float: left;
        width: 190px;
        margin-right: 10px;
    }
    &__info-image {
        float: left;
    }
    &__underline {
        background-color: #a8c4df;
        height: 1px;
        width: 44px;
        margin-bottom: 16px;
    }
    &__lang-switcher {
        color: #3a72be;;
        font-size: 14px;
        margin-top: 1px;
        &::after {
            display: block;
            content: '';
            clear: both;
        }
        &:hover {
            color: black;
            cursor: pointer;
        }
    }
    &__lang-icon {
        background-image: url("../assets/img/interface_icons/lang.png");
        background-repeat: no-repeat;
        width: 15px;
        height: 12px;
        float: left;
        margin-right: 8px;
    }
    &__lang-text {
        float: left;
    }
    &__dropdown-icon {
        background-image: url("../assets/img/interface_icons/arrow_down.png");
        background-repeat: no-repeat;
        width: 8px;
        height: 6px;
        margin: 4px 0 0 6px;
        float: left;

    }
}