.form-check{
    $gray: #5a5a5a;
    &__input{
        display: none;
    }
    &__label {
        padding-left: 22px;
        position: relative;
        user-select: none;
        color: $gray;
        display: block;
        text-align: left;
        a, a:hover, a:link, a:visited {
            color: $gray;
            text-decoration: none;
        }
        @include respond(300px) {
            max-width: 300px;
        }
    }
    &__label-icon {
        position: absolute;
        top: -1px;
        left: 0;
        width: 14px;
        height: 14px;
        background: white;
        border-radius: 2px;
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
        &::after {
            transition: all .2s;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 9px;
            height: 9px;
            border-radius: 1px;
            background: lighten(#3474bc, 30%);
            opacity: 0;
        }
    }
    &__label-underline {
        display: inline-block;
        border-bottom: 1px solid lighten($gray, 50%);
    }
    &__input:checked + &__label > &__label-icon::after {
        opacity: 1;
    }
}