.news {
    p + img {
        margin-top: 14px;
    }
    &__header {
        font-size: 46px;
        font-weight: 500;
        margin-top: 76px;
        float: left;
        width: 60%;
        margin-right: 18%;
    }
    &__title {
        font-size: 26px;
        font-weight: 500;
        letter-spacing: .02em;
    }
    &__time {
        color: #303030;
        letter-spacing: 0.07px;
        font-size: 15px;
        font-weight: 300;
        padding: 10px 0 24px;
    }
    &__content {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.08px;
        line-height: 26px;
        margin-bottom: 6px;
    }
    &__btn {
        &,
        &:link,
        &:visited
         {
            color: black;
            text-decoration: none;
        }
        padding: 10px;
        border: 1px solid #5690ff;
        padding: 4px 14px;
        font-weight: 400;
        border-radius: 24px;
        display: inline-block;
        margin: 6px 12px 6px 0;
    }
    &__btn-read {
        &,
        &:link,
        &:visited
         {
            color: black;
            text-decoration: none;
        }
        float: right;
        line-height: 48px;
    }
    &__tags {
        float: left;
        max-width: 80%;
        & .news__btn {
            margin: 6px 14px 6px 0;
        }
    }
    article {
        margin-top: 40px;
        margin-bottom: 62px;
        line-height: 1.6;
        @include clearfix;
        footer {
            @include clearfix;
        }
        p img {
            width: 100%;
            max-width: 100%;
            margin-top: 14px;
        }
    }
    &__all-tags {
        line-height: 1.6;
        text-align: right;
        margin-top: 24px;
        & .news__btn {
            margin: 6px 0px 6px 4px;
        }
    }
    &__all-tags-header {
        text-align: right;
    }
    @include clearfix;
}