@import "_mixins";

.header__wrap {
    &_transparent {
        .header {
            background: transparent;

            .mobile-menu-btn__line {
                background: #FFF;
            }
        }
    }

    &_transparent_blue {
        position: relative;

        &:after {
            content: "";
            background: url(../assets/img/header/blue.svg) no-repeat 286px -61px;
            background-size: 100%;
            display: block;
            position: absolute;
            height: 277%;
            width: 100%;
            z-index: 1;
            top: 0;
            pointer-events: none;
            opacity: 0.3;
        }
    }

    &_transparent_purpure {
        position: relative;

        &:after {
            content: "";
            background: url(../assets/img/header/purpure.svg) no-repeat 286px -61px;
            background-size: 100%;
            display: block;
            position: absolute;
            height: 277%;
            width: 100%;
            z-index: 1;
            top: 0;
            pointer-events: none;
            opacity: 0.3;
        }
    }

    &_transparent_green {
        position: relative;

        &:after {
            content: "";
            background: url(../assets/img/header/green.svg) no-repeat 286px -61px;
            background-size: 100%;
            display: block;
            position: absolute;
            height: 277%;
            width: 100%;
            z-index: 1;
            top: 0;
            pointer-events: none;
            opacity: 0.3;
        }
    }
}

.hero {
    margin-top: -92px;
    padding-top: 92px;
    overflow: hidden;
    padding-bottom: 100px;

    .text-with-right-illustration {
        margin: 75px 0;

        @include respond(740px) {
            margin-bottom: 0;

            //       padding-bottom: 0;
        }
    }
}

.hero-fill {
    &_blue {
        background: linear-gradient(-7deg, #87dcff 0, #1485d9 100%);
    }

    &_dark-blue {
        background: linear-gradient(149deg, #3474bc 0, #0b3d70 69%, #0b3d70 100%);

        .line {
            opacity: 0.3;
        }
    }

    &_gray-green {
        background: #fafafa;

        .line {
            opacity: 1;
        }
    }

    &_gray-dark-blue {
        background: #fafafa;

        .line {
            opacity: 1;
        }
    }

    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87dcff', endColorstr='#1485d9',GradientType=1 );
}

.hero-skew {
    position: relative;

    &__polygon {
        height: 236px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;

        @include respond(750px) {
            height: 64px;
        }


        @include respond(480px) {
            height: 75px;
        }
    }

    &.hero-fill_blue {
        .hero-skew__polygon {
            &__left-grad {
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                transform-origin: left bottom;

                //transform: skewY(8deg);
                background: url("../assets/img/svg_bg/3blue.svg") no-repeat left top;

                //background: red;
                //opacity: 0.6;
           
            }

            &__right-grad {
                display: block;

                //height: 47%;
                height: 100%;
                top: 0;
                width: 100%;
                position: absolute;
                background: url("../assets/img/svg_bg/4blue.svg") no-repeat right top;

                //background: red;
                //opacity: 0.7;
                transform-origin: top right;
                z-index: 2;

                //transform: skewY(8.5deg);
           
            }
        }
    }

    &.hero-fill_gray-dark-blue {
        .hero-skew__polygon {
            &__left-grad {
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                transform-origin: left bottom;

                //transform: skewY(8deg);
                background: url("../assets/img/svg_bg/2company.svg") no-repeat left top;

                //background: red;
                //opacity: 0.6;
           
            }

            &__right-grad {
                display: block;

                //height: 47%;
                height: 100%;
                top: 0;
                width: 100%;
                position: absolute;
                background: url("../assets/img/svg_bg/3company.svg") no-repeat right top;

                //background: red;
                //opacity: 0.7;
                transform-origin: top right;
                z-index: 2;

                //transform: skewY(8.5deg);
           
            }
        }
    }

    &.hero-fill_dark-blue {
        .hero-skew__polygon {
            &__left-grad {
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                transform-origin: left bottom;

                //transform: skewY(8deg);
                background: url("../assets/img/svg_bg/3blue.svg") no-repeat left top;

                //background: red;
                //opacity: 0.6;
           
            }

            &__right-grad {
                display: block;

                //height: 47%;
                height: 100%;
                top: 0;
                width: 100%;
                position: absolute;
                background: url("../assets/img/svg_bg/4blue.svg") no-repeat right top;

                //background: red;
                //opacity: 0.7;
                transform-origin: top right;
                z-index: 2;

                //transform: skewY(8.5deg);
           
            }
        }
    }

    &.hero-fill_gray-green {
        .hero-skew__polygon {
            &__left-grad {
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                transform-origin: left bottom;

                //transform: skewY(8deg);
                background: url("../assets/img/svg_bg/3green.svg") no-repeat left top;

                //background: red;
                //opacity: 0.6;
           
            }

            &__right-grad {
                display: block;

                //height: 47%;
                height: 100%;
                top: 0;
                width: 100%;
                position: absolute;
                background: url("../assets/img/svg_bg/4green.svg") no-repeat right top;

                //background: red;
                //opacity: 0.7;
                transform-origin: top right;
                z-index: 2;

                //transform: skewY(8.5deg);
           
            }
        }
    }
}

.hero-main-page {
    padding-bottom: 20%;

    @include respond(740px) {
        padding-bottom: 100px;
    }
}

.text-with-right-illustration {
    position: relative;
    width: 100%;
    padding-right: 488px;
    min-height: 600px;
    padding-top: 86px;
    padding-bottom: 86px;

    @include respond(1024px) {
        padding-right: 0;
        padding-top: 0;
    }


    &__title {
        font-size: 46px;
        font-weight: 400;
        line-height: 1.3;

        @include respond(1024px) {
            text-align: center;
        }
    }

    &__description {
        font-size: 19px;
        line-height: 1.4;
        font-weight: 100;
        margin-top: 26px;

        @include respond(1024px) {
            text-align: center;
        }
    }

    &__illustration {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        img {
            width: 100%;
            max-width: 502px;
            height: auto;
            margin: auto;
            display: block;
        }

        @include respond(1024px) {
            img {
                width: 80%;
                height: auto;
            }
        }


        @include respond(1024px) {
            margin-top: 66px;
            position: relative;
        }
    }

    &__action-b {
        margin-top: 24px;

        @include respond(1024px) {
            text-align: center;
        }


        .btn {
            margin-top: 18px;
        }
    }

    hr {
        border: none;
        border-top: 1px solid #eee;
    }

    &_white {
        color: #FFF;

        hr {
            border-color: #8ac0e7;
            margin: 54px 0 40px 0;
        }
    }
} //text-with-right-illustration

.js-svg-lines {
    position: relative;

    &.svg-lines_blue-2 {
        .line {
            display: block;
            width: 100%;
            height: 960px;
            left: 0;

            //background: url("../assets/img/svg_bg/2blue.svg") no-repeat center right, url("../assets/img/svg_bg/2blue_2.svg") no-repeat 111% 239px;
            background: url(../assets/img/svg_bg/2blue.svg) no-repeat center right, url(../assets/img/svg_bg/2blue_2.svg) no-repeat right bottom;
            background-size: 64%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 0;
            pointer-events: none;
        }
    }

    &.svg-lines_green-2 {
        .line {
            display: block;
            width: 100%;
            height: 960px;
            left: 0;

            //background: url("../assets/img/svg_bg/2blue.svg") no-repeat center right, url("../assets/img/svg_bg/2blue_2.svg") no-repeat 111% 239px;
            background: url(../assets/img/svg_bg/2green.svg) no-repeat center right;
            background-size: 64%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 0;
            pointer-events: none;
        }
    }
} //js-svg-lines

.catalog {
    //background: blue;
    margin-bottom: 78px;

    &_main-page {
        margin-top: -18%;

        @include respond(1024px) {
            margin-top: -27%;
        }


        @include respond(740px) {
            margin-top: -22%;
        }


        @include respond(480px) {
            margin-top: -39%;
        }
    }

    .catalog__cards {
        position: relative;
        z-index: 2;

        //transform: translateY(-30%);

        /* @include respond(740px) {
            transform: translateY(0);
        } */

        .card {
            padding: 48px 28px;
            box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.1);
            background: rgba(255, 255, 255, 0.8);
            transition: all .2s;

            &:hover {
                background: rgba(255, 255, 255, 0.9);
                transform: translateY(-5px);
            }

            a {
                text-decoration: none;
            }

            @include respond(1024px) {
                padding: 20px;
            }


            img {
                margin: auto;
                display: block;
                width: 100%;
                max-width: 100%;

                @include respond(940px) {
                    max-height: 100px;
                }
            }

            .title {
                display: block;
                font-size: 16px;
                color: #2C2C2C;
                text-transform: uppercase;
                margin-top: 36px;
            }

            .descr {
                display: block;
                margin-top: 20px;
                font-size: 16px;
                font-weight: 100;
                color: #2C2C2C;
                opacity: 0.8;
                line-height: 1.6;
            }
        }
    }
} //catalog

.cols-3 {
    display: flex;
    justify-content: space-between;

    @include respond(980px) {
        flex-wrap: wrap;
    }


    .col {
        width: 33%;
        display: block;

        @include respond(980px) {
            width: 31%;
        }


        &:nth-child(2) {
            margin: 0 30px;

            @include respond(940px) {
                margin: 0 14px;
            }


            @include respond(740px) {
                margin-right: 0;
                margin-left: 0;
            }
        }

        @include respond(740px) {
            width: 100%;

            & + .col {
                margin-top: 20px;
            }
        }
    }
}

.block-title {
    position: relative;
    margin: 0 0 53px 0;
    z-index: 10;
    text-align: center;

    .title {
        font-size: 30px;
        color: #060606;
        font-weight: 400;

        @include respond(500px) {
            font-size: 26px;
        }
    }

    .subtitle {
        font-size: 22px;
        color: #2c2c2c;
        opacity: 0.8;
        line-height: 1.6;
        max-width: 825px;
        margin: 27px auto 0;
        font-weight: 200;

        @include respond(750px) {
            font-size: 18px;
        }


        @include respond(500px) {
            font-size: 16px;
        }
    }

    &_white {
        .title {
            color: #FFF;
        }

        .subtitle {
            color: #FFF;
        }
    }
} //block-title

.perfomance-block {
    margin: 96px 0;
    margin-bottom: 308px;

    @include respond(980px) {
        margin-bottom: 138px;
    }


    .perfomance__item {
        text-align: center;
        box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.8);
        transition: all .2s;
        padding: 74px 15px 69px;

        @include respond(980px) {
            padding: 50px 15px 36px;
        }


        &__digit {
            font-size: 100px;
            color: #308AD3;
            font-weight: 300;

            //font-weight: normal;

            @include respond(980px) {
                font-size: 60px;
            }
        }

        &__descr {
            font-size: 18px;
            color: #565758;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 15px;
            font-weight: 100;

            @include respond(980px) {
                font-size: 14px;
            }


            strong {
                font-weight: 400;
                display: block;
                color: #000;
            }
        }
    }
}

.simple-skew-bg {
    position: relative;

    .line {
        position: absolute;
        height: 236%;
        min-height: 100%;
        width: 100%;
        left: 0;
        top: -140px;

        //background-color: rgba(255, 0, 0, 0.65);
        background: url("../assets/img/svg_bg/simple_skew_bg_blue.svg") no-repeat center;
        background-size: 100%;

        svg {
            display: none;
            height: 100%;
            width: 100%;
        }

        //padding: 20% 0 22%;
        z-index: -1;

        @include respond(980px) {
            height: 186%;
            top: -60px;
        }


        @include respond(740px) {
            height: 120%;
            top: -60px;
            background-position: center top;
        }
    }
} //simple-skew-bg

.safety {
    background: rgb(6, 111, 175);
    position: relative;

    //background: -moz-linear-gradient(-45deg, rgba(6, 111, 175, 1) 0%, rgba(82, 172, 237, 1) 40%, rgba(57, 198, 237, 1) 88%);
    //background: -webkit-linear-gradient(-45deg, rgba(6, 111, 175, 1) 0%, rgba(82, 172, 237, 1) 40%, rgba(57, 198, 237, 1) 88%);
    background: linear-gradient(174deg, rgba(6, 111, 175, 1) 0%, rgba(82, 172, 237, 1) 40%, rgba(57, 198, 237, 1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066faf', endColorstr='#39c6ed',GradientType=1 );
    padding-bottom: 279px;
    padding-top: 116px;
    margin-top: 125px;

    @include respond(1024px) {
        margin-top: 32px;
        padding-bottom: 0;

        .text-with-right-illustration__illustration {
            margin-bottom: -80px;
            margin-top: 22px;
        }
    }


    @include respond(500px) {
        padding-top: 53px;
        margin-top: 12px;
    }


    .safety__polygon {
        height: 290px;

        //background: #eee;
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: hidden;

        @include respond(1024px) {
            height: 117px;
        }


        @include respond(500px) {
            height: 47px;
        }
    }
} //safety

.ul-check {
    //max-width: 825px;
    //margin: auto;

    li {
        position: relative;
        padding-left: 42px;
        font-weight: 100;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 1px;
            top: 7px;
            width: 22px;
            height: 10px;
            background: url(../assets/img/icons/check.svg) no-repeat center;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 22px;
            height: 22px;
            border: 1px solid #88dbfc;
            border-radius: 50%;
        }

        & + li {
            margin-top: 2rem;
        }
    }
} //ul-check

.developer-platform-adv {
    padding-left: 42px;
    position: relative;
    text-align: left;

    &__icon {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__descr {
        font-weight: 100;
        font-size: 16px;
        line-height: 1.6;
    }

    &__more {
        //color: #8ee0ff;
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        margin: 24px 0 0 0;

        //display: block;
        font-weight: 400;
        letter-spacing: .7px;
        opacity: 0.6;

        &:hover {
            opacity: 0.8;
        }
    }
}

.ready-to-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 0 98px;

    @include respond(720px) {
        flex-wrap: wrap;
    }


    &__col {
        display: inline-block;
        width: 49%;

        @include respond(720px) {
            width: 100%;
        }
    }

    .ready-to-start__text {
        .ready-to-start__title {
            font-size: 22px;
            font-weight: 400;
            color: #2c2c2c;
        }

        .ready-to-start__subtitle {
            font-size: 20px;
            color: #2C2C2C;
            font-weight: 100;
            margin-top: 12px;
        }
    }

    .ready-to-start__actions {
        text-align: right;

        @include respond(720px) {
            text-align: left;
            margin-top: 38px;
        }


        .btn {
            margin-right: 28px;

            & + .btn {
                margin-top: 17px;
            }
        }
    }
} //ready-to-start

.white-content {
    padding-top: 100px;
} //white-content

@import "footer.scss";
@import "wallets.scss";
@import "two-collumns.scss";
@import "news.scss";
@import "pagination.scss";

@import "fonts";
@import "simplebar";
@import "arcticmodal";

//@import "_arcticmodal";

//@import "_jqrange";